<form [formGroup]="form">

  <div *ngIf="loadedData">
    <div class="form-group">
      <label>Название задачи</label>
      <input class="form-control" name="name" formControlName="name" [(ngModel)]="task.name" />
    </div>
    <div class="form-group">
      <label>Описание</label>
      <input class="form-control" name="description" formControlName="description" [(ngModel)]="task.description" />
    </div>

    <label>Готовность</label>


    <input type="checkbox" name="isDone" formControlName="isDone" [(ngModel)]="task.isDone">


    <div class="form-group">
      <label>Срок сдачи</label>
      <input class="form-control" name="deadLine" formControlName="deadLine" [(ngModel)]="task.deadLine" />
    </div>
  </div>

  <div class="form-group">
    <button [disabled]="form.invalid" (click)="submit()"
            class="btn btn-default">
      Изменить

    </button>
  </div>

</form>
