<div class='main-nav'>
  <div class='navbar navbar-inverse'>
      <div class='navbar-header'>
          <button type='button' class='navbar-toggle' data-toggle='collapse' data-target='.navbar-collapse' [attr.aria-expanded]='isExpanded' (click)='toggle()'>
              <span class='sr-only'>Toggle navigation</span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
              <span class='icon-bar'></span>
          </button>
          <a class='navbar-brand' [routerLink]='["/"]'>TestCase</a>
      </div>
      <div class='clearfix'></div>
      <div class='navbar-collapse collapse' [ngClass]='{ "in": isExpanded }'>
        <ul class='nav navbar-nav'>
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/tasks/"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-education'></span> Задачи
            </a>
          </li>
          <li [routerLinkActive]='["link-active"]'>
            <a [routerLink]='["/tasks/new"]' (click)='collapse()'>
              <span class='glyphicon glyphicon-education'></span> Добавление задачи
            </a>
          </li>


        </ul>
      </div>
  </div>
</div>
